body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color:#333
}

h1 {
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    border-radius: 8px;
    width: 500px; /* Set to twice the width of a 6.5" phone screen */
    max-width: 100%; /* Ensure it does not go beyond screen size */
    border-radius: 8px;
}
.product:hover{
    background-color: f7f7f7;
}
.product-title {
    font-weight: bold;
    cursor: pointer;
    color: #000000;
}

.product-description {
    display: none;
    margin-top: 10px;
}

.product-description.visible{
    display: block;
}
.product-price {
    font-weight: bold;
    color: green;
}

.instruction-text {
  font-size: 16px;
  color: #444;
  text-align: center;
  margin-top: 10px;  /* Small space below the title */
  font-style: italic;  /* Optional, to differentiate the text */
}
@media screen and (max-width: 768px) {
    /* Make sure everything looks good on smaller screens */
    .product {
        width: 90%; /* Adjust width for smaller screens */
    }
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.product {
  margin-bottom: 15px;
}
.product-title {
  font-weight: bold;
  cursor: pointer;  /* Make the title look clickable */
}
.product-description {
  display: none; /* Hide all descriptions by default */
}
